
@model GetAllResourcesViewModel

@{
    ViewData["Title"] = "All Resources";
}

@foreach (var item in Model.Resources)
{
    <div>
        <div>
            
            <div>
                <div>
                    <div>
                        <h2>@Html.DisplayFor(model => item.ResourceName)</h2>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <p>

                    </p>
                </div>
                <div>
                    <p>@Html.DisplayFor(model => item.ResPrice)</p>
                </div>
            </div>
            <div>
                <div>
                    <p>

                    </p>
                </div>
                <div>
                    <p>@Html.DisplayFor(model => item.ResDescription)</p>
                </div>
            </div>
            <div>
                <h2><a asp-action="DeleteResource" asp-route-id="@item.ResourceID">Delete Resource</a></h2>
            </div>
        </div>
    </div>
}

<div>
    <div>
        <div>

            <div>
                <h2><a href='@Url.Action("AddResource","Resources")'>Add Resource</a></h2>
            </div>

        </div>


    </div>
</div>

